<div class="row" style="margin-top:20px;">
    <div class="col-md-4 col-md-offset-4">
        <p class="text-center">
            <img src="~/Content/img/false.png" id="img" />

        </p>
        <button id="onBtn" class="btn btn-block btn-primary">Włącz</button>
        <button id="offBtn" class="btn btn-block btn-default">Wyłącz</button>
    </div>
</div>
@section  scripts {
<script>

    $(function () {

        $('#onBtn').click(function () { $.post('/api/light/true'); });
        $('#offBtn').click(function () { $.post('/api/light/false'); });

        setInterval(function () {

            $.getJSON('/api/light', function (d) {
                $("#img").attr('src', '/Content/img/' + d + '.png');
                console.log('light', d);
            });

        }, 1000);
        
    });

</script>    
}
